@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap");
@media (min-width: 1200px) {
  header {
    margin-top: 35px;
    padding: 0px 16px 0px 16px;
  }
  header nav {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  header nav a {
    font-family: "Russo One";
    font-size: 1.5em;
    color: #f1f5f9;
    text-decoration: none;
    transition: color 0.25s, transform 0.5s ease-out;
  }
  header nav a:hover {
    color: #646cff;
    transform: translateX(25px);
  }
  header nav img {
    height: 30px;
    transition: transform 0.5s ease-out;
  }
  header nav img:hover {
    transform: translateX(-25px);
  }
  main {
    display: flex;
    height: 80vh;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  main .logo-container {
    position: absolute;
    bottom: 60px;
  }
  main .logo-container a {
    display: flex;
    align-items: center;
    color: #f1f5f9;
    text-decoration: none;
    border-radius: 50%;
    transition: color 0.25s, transform 0.5s ease-out, background-color 0.5s ease;
  }
  main .logo-container a img {
    height: 30px;
    margin-right: 8px;
    margin: 10px;
  }
  main .logo-container a:hover {
    transform: translateX(25px);
    background-color: #646cff;
  }
  main .navigation-container {
    height: auto;
    width: 100%;
    align-content: center;
  }
  main .navigation-container ul {
    text-align: center;
    list-style: none;
  }
  main .navigation-container ul p {
    font-family: "Kanit";
    font-size: 45px;
    color: #f1f5f9;
    text-decoration: none;
    transition: color 0.5s ease-out, font-size 0.25s ease-out, font-family 0.25s ease-out;
  }
  main .navigation-container ul p:hover {
    color: #646cff;
    font-size: 65px;
    font-family: "Russo One";
  }
  main .landing-container {
    padding: 0 24px;
    width: 100%;
    text-align: right;
  }
  main .landing-container .first-name {
    font-size: 36px;
  }
  main .landing-container .middle-last {
    font-size: 32px;
  }
  main .landing-container h1,
  main .landing-container h2,
  main .landing-container h3,
  main .landing-container a {
    color: #f1f5f9;
    transition: color 0.25s ease, transform 0.5s ease-out;
  }
  main .landing-container h1:hover,
  main .landing-container h2:hover,
  main .landing-container h3:hover,
  main .landing-container a:hover {
    color: #646cff;
    transform: translateX(-45px);
  }
  main .landing-container h1:hover a,
  main .landing-container h2:hover a,
  main .landing-container h3:hover a,
  main .landing-container a:hover a {
    text-shadow: 3px 3px 12px #646cff;
    color: #f1f5f9;
  }
  main .landing-container h1 {
    font-family: "Russo One";
  }
  main .landing-container .design-credit {
    color: #f1f5f9;
    font-family: "Roboto";
  }
  main .landing-container .design-credit a {
    color: #646cff;
    text-decoration: none;
  }
  main .landing-container .design-credit a:active {
    color: #f1f5f9;
  }
  main .landing-container hr {
    display: none;
  }
  main .profile-container {
    padding: 0 100px;
  }
  main .profile-container section p {
    text-align: justify;
  }
  main .profile-container section h2,
  main .profile-container section h3,
  main .profile-container section p,
  main .profile-container section li,
  main .profile-container section p {
    color: #f1f5f9;
    transition: color 0.5s ease-out, font-size 0.5s ease-out, font-family 0.5s ease-out, transform 0.5s ease-out;
  }
  main .profile-container section h2:hover,
  main .profile-container section h3:hover,
  main .profile-container section p:hover,
  main .profile-container section li:hover,
  main .profile-container section p:hover {
    color: #646cff;
    font-family: "Russo One";
    transform: translateX(25px);
  }
  main .profile-container p {
    color: #f1f5f9;
    transition: color 0.5s ease-out, font-size 0.5s ease-out, font-family 0.5s ease-out, transform 0.5s ease-out;
  }
  main .profile-container p:hover {
    color: #646cff;
    font-family: "Russo One";
    transform: translateX(25px);
  }
  main .profile-container .profile-footer {
    display: flex;
    flex-direction: column;
  }
  main .profile-container .profile-footer p, main .profile-container .profile-footer address {
    font-size: 16px;
    padding: 0;
    margin: 0;
    transition: color 0.25s ease-out;
  }
  main .profile-container .profile-footer p a, main .profile-container .profile-footer address a {
    font-size: 16px;
    color: #646cff;
  }
  main .profile-container .profile-footer p:hover, main .profile-container .profile-footer address:hover {
    color: #646cff;
  }
  main .profile-container .profile-footer p:hover a, main .profile-container .profile-footer address:hover a {
    color: #f1f5f9;
  }
  main .project-container {
    padding: 0 60px;
  }
  main .project-container .palindrome-project {
    margin: 0 auto;
  }
  main .project-container .palindrome-project .snap-container {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 75%;
    height: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  main .project-container .palindrome-project .snap-container::-webkit-scrollbar {
    display: none;
  }
  main .project-container .palindrome-project .snap-container img {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .project-container .palindrome-project .link-wrapper {
    text-align: center;
  }
  main .project-container .palindrome-project .link-wrapper a {
    color: #f1f5f9;
    margin: 0 45px;
    transition: color 0.5s ease-out, font-family 0.25s ease-out, font-size 0.25s ease-out;
  }
  main .project-container .palindrome-project .link-wrapper a:hover {
    color: #646cff;
    font-family: "Russo One";
    font-size: 18px;
  }
  main .project-container .palindrome-project h2 {
    text-align: center;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  header {
    margin-top: 35px;
    padding: 0px 16px 0px 16px;
  }
  header nav {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  header nav a {
    font-family: "Russo One";
    font-size: 1.5em;
    color: #f1f5f9;
    text-decoration: none;
    transition: color 0.25s, transform 0.5s ease-out;
  }
  header nav a:hover {
    color: #646cff;
    transform: translateX(25px);
  }
  header nav img {
    height: 30px;
    transition: transform 0.5s ease-out;
  }
  header nav img:hover {
    transform: translateX(-25px);
  }
  main {
    padding: 8px 16px 8px 16px;
    display: flex;
    height: 80vh;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  main .logo-container {
    position: absolute;
    bottom: 60px;
  }
  main .logo-container a {
    display: flex;
    align-items: center;
    color: #f1f5f9;
    text-decoration: none;
    border-radius: 50%;
    transition: color 0.25s, background-color 0.5s ease;
  }
  main .logo-container a img {
    height: 30px;
    margin-right: 8px;
    margin: 10px;
  }
  main .logo-container a:hover {
    background-color: #646cff;
  }
  main .navigation-container {
    height: auto;
    width: 100%;
    align-content: center;
  }
  main .navigation-container ul {
    text-align: center;
    list-style: none;
  }
  main .navigation-container ul p {
    font-family: "Kanit";
    font-size: 45px;
    color: #f1f5f9;
    text-decoration: none;
    transition: color 0.5s ease-out, font-size 0.25s ease-out, font-family 0.25s ease-out;
  }
  main .navigation-container ul p:hover {
    color: #646cff;
    font-size: 65px;
    font-family: "Russo One";
  }
  main .landing-container {
    position: absolute;
    right: 75px;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-left: 45px;
    text-align: right;
  }
  main .landing-container .first-name {
    font-size: 26px;
  }
  main .landing-container .middle-last {
    font-size: 22px;
  }
  main .landing-container .position {
    font-size: 18px;
  }
  main .landing-container .skill-stack {
    font-size: 16px;
  }
  main .landing-container .react-stack summary {
    list-style: none;
    font-weight: 900;
  }
  main .landing-container h1,
  main .landing-container h2,
  main .landing-container h3,
  main .landing-container a {
    color: #f1f5f9;
    transition: color 0.25s ease, transform 0.5s ease-out;
  }
  main .landing-container h1:hover,
  main .landing-container h2:hover,
  main .landing-container h3:hover,
  main .landing-container a:hover {
    color: #646cff;
    transform: translateX(-45px);
  }
  main .landing-container h1:hover a,
  main .landing-container h2:hover a,
  main .landing-container h3:hover a,
  main .landing-container a:hover a {
    text-shadow: 3px 3px 12px #646cff;
    color: #f1f5f9;
  }
  main .landing-container h1 {
    font-family: "Russo One";
  }
  main .landing-container .design-credit {
    color: #f1f5f9;
    font-family: "Roboto";
    font-size: 14px;
  }
  main .landing-container .design-credit a {
    color: #646cff;
    text-decoration: none;
  }
  main .landing-container .design-credit a:active {
    color: #f1f5f9;
  }
  main .landing-container .disclaimer {
    font-size: 12px;
  }
  main .landing-container hr {
    position: relative;
    left: 350px;
    width: 45vh;
  }
  main .profile-container {
    padding: 0 50px 0 60px;
  }
  main .profile-container section p {
    font-size: 18px;
    text-align: justify;
  }
  main .profile-container section h2 {
    font-size: 24px;
  }
  main .profile-container section li {
    font-size: 18px;
  }
  main .profile-container section h2,
  main .profile-container section h3,
  main .profile-container section p,
  main .profile-container section li,
  main .profile-container section p {
    color: #f1f5f9;
    transition: color 0.5s ease-out, font-size 0.5s ease-out, font-family 0.5s ease-out, transform 0.5s ease-out;
  }
  main .profile-container section h2:hover,
  main .profile-container section h3:hover,
  main .profile-container section p:hover,
  main .profile-container section li:hover,
  main .profile-container section p:hover {
    color: #646cff;
    font-family: "Russo One";
    transform: translateX(25px);
  }
  main .profile-container .education-section .school {
    margin-bottom: 20px;
  }
  main .profile-container .education-section .school h3 {
    font-size: 20px;
    margin: 0;
  }
  main .profile-container .education-section .school span {
    font-size: 18px;
  }
  main .profile-container .education-section p {
    font-size: 14px;
  }
  main .profile-container .profile-footer {
    display: flex;
    flex-direction: column;
  }
  main .profile-container .profile-footer p {
    padding: 0;
    margin: 0;
  }
  main .project-container {
    padding: 0 40px 0 60px;
  }
  main .project-container .palindrome-project {
    margin: 0 auto;
  }
  main .project-container .palindrome-project .snap-container {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 85%;
    height: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  main .project-container .palindrome-project .snap-container::-webkit-scrollbar {
    display: none;
  }
  main .project-container .palindrome-project .snap-container img {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .project-container .palindrome-project .link-wrapper {
    text-align: center;
  }
  main .project-container .palindrome-project .link-wrapper a {
    color: #f1f5f9;
    margin: 0 45px;
    transition: color 0.5s ease-out, font-family 0.25s ease-out, font-size 0.25s ease-out;
  }
  main .project-container .palindrome-project .link-wrapper a:hover {
    color: #646cff;
    font-family: "Russo One";
    font-size: 18px;
  }
  main .project-container .palindrome-project h2 {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  header {
    margin-top: 12px;
    padding: 0px 16px 0px 16px;
  }
  header nav {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  header nav a {
    font-family: "Russo One";
    font-size: 1.5em;
    color: #f1f5f9;
    text-decoration: none;
    transition: color 0.25s, transform 0.5s ease-out;
  }
  header nav a:hover {
    color: #646cff;
    transform: translateX(25px);
  }
  header nav img {
    height: 30px;
    transition: transform 0.5s ease-out;
  }
  header nav img:hover {
    transform: translateX(-25px);
  }
  main {
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  main .logo-container {
    width: 85vw;
    position: absolute;
    bottom: 12px;
    display: flex;
    justify-content: space-around;
  }
  main .logo-container a {
    display: flex;
    align-items: center;
    color: #f1f5f9;
    text-decoration: none;
    border-radius: 50%;
    transition: color 0.25s, transform 0.5s ease-out, background-color 0.5s ease;
  }
  main .logo-container a img {
    height: 30px;
    margin-right: 8px;
    margin: 10px;
  }
  main .logo-container a:hover {
    background-color: #646cff;
  }
  main .navigation-container {
    height: auto;
    width: 100%;
    align-content: center;
  }
  main .navigation-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    padding: 0;
    text-align: center;
    list-style: none;
  }
  main .navigation-container ul p {
    font-family: "Kanit";
    font-size: 32px;
    color: #f1f5f9;
    text-decoration: none;
    transition: color 0.5s ease-out, font-size 0.25s ease-out, font-family 0.25s ease-out;
  }
  main .navigation-container ul p:hover {
    color: #646cff;
    font-size: 36px;
    font-family: "Russo One";
  }
  main .landing-container {
    text-align: center;
  }
  main .landing-container .first-name {
    font-size: 24px;
  }
  main .landing-container .middle-last {
    font-size: 20px;
  }
  main .landing-container .position {
    font-size: 16px;
  }
  main .landing-container .skill-stack {
    font-size: 16px;
  }
  main .landing-container .react-stack summary {
    font-size: 14px;
    font-weight: 900;
  }
  main .landing-container p {
    font-size: 12px;
  }
  main .landing-container .design-credit {
    color: #f1f5f9;
    font-family: "Roboto";
    font-size: 12px;
  }
  main .landing-container .design-credit a {
    color: #646cff;
    text-decoration: none;
  }
  main .landing-container .design-credit a:active {
    color: #f1f5f9;
  }
  main .landing-container h1,
  main .landing-container h2,
  main .landing-container h3,
  main .landing-container a {
    color: #f1f5f9;
    transition: color 0.25s ease, transform 0.5s ease-out, font-size 0.5s ease-in;
  }
  main .landing-container h1:hover,
  main .landing-container h2:hover,
  main .landing-container h3:hover,
  main .landing-container a:hover {
    color: #646cff;
  }
  main .landing-container h1:hover a,
  main .landing-container h2:hover a,
  main .landing-container h3:hover a,
  main .landing-container a:hover a {
    text-shadow: 3px 3px 12px #646cff;
    color: #f1f5f9;
  }
  main .landing-container h1 {
    font-family: "Russo One";
  }
  main .profile-container {
    padding: 0 8px 4px 8px;
  }
  main .profile-container section {
    padding-bottom: 4px;
  }
  main .profile-container section h2 {
    font-size: 20px;
    text-align: center;
  }
  main .profile-container section p {
    font-size: 14px;
    text-align: justify;
  }
  main .profile-container section h3 {
    font-size: 16px;
  }
  main .profile-container section li {
    font-size: 14px;
  }
  main .profile-container section h2,
  main .profile-container section h3,
  main .profile-container section p,
  main .profile-container section li,
  main .profile-container section p {
    color: #f1f5f9;
    transition: color 0.5s ease-out, font-size 0.5s ease-out, font-family 0.5s ease-out, transform 0.5s ease-out;
  }
  main .profile-container section h2:hover,
  main .profile-container section h3:hover,
  main .profile-container section p:hover,
  main .profile-container section li:hover,
  main .profile-container section p:hover {
    color: #646cff;
    font-family: "Russo One";
  }
  main .profile-container .education-section .school {
    margin-bottom: 16px;
  }
  main .profile-container .education-section .school h3 {
    font-size: 16px;
    margin: 0;
  }
  main .profile-container .education-section .school span {
    font-size: 14px;
  }
  main .profile-container .education-section p {
    font-size: 14px;
  }
  main .profile-container .profile-footer {
    display: flex;
    flex-direction: column;
  }
  main .profile-container .profile-footer p, main .profile-container .profile-footer address {
    font-size: 12px;
    padding: 0;
    margin: 0;
    transition: color 0.25s ease-out;
  }
  main .profile-container .profile-footer p a, main .profile-container .profile-footer address a {
    font-size: 12px;
    color: #646cff;
  }
  main .profile-container .profile-footer p:hover, main .profile-container .profile-footer address:hover {
    color: #646cff;
  }
  main .profile-container .profile-footer p:hover a, main .profile-container .profile-footer address:hover a {
    color: #f1f5f9;
  }
  main .project-container {
    padding: 0 4px;
  }
  main .project-container .palindrome-project {
    margin: 0 auto;
  }
  main .project-container .palindrome-project .snap-container {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 90%;
    height: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  main .project-container .palindrome-project .snap-container::-webkit-scrollbar {
    display: none;
  }
  main .project-container .palindrome-project .snap-container img {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .project-container .palindrome-project .link-wrapper {
    text-align: center;
  }
  main .project-container .palindrome-project .link-wrapper a {
    font-size: 14px;
    text-decoration: none;
    color: #f1f5f9;
    margin: 0 45px;
    transition: color 0.5s ease-out, font-family 0.25s ease-out, font-size 0.25s ease-out;
  }
  main .project-container .palindrome-project .link-wrapper a:hover {
    color: #646cff;
    font-family: "Russo One";
    font-size: 16px;
  }
  main .project-container .palindrome-project h2 {
    font-size: 16px;
    text-align: center;
  }
  main .project-container .palindrome-project details summary {
    font-size: 14px;
  }
  main .project-container .palindrome-project details li {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */