@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&display=swap");
header {
  margin-top: 35px;
  padding: 0px 16px 0px 16px;
}
header nav {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
header nav a {
  font-family: "Russo One";
  font-size: 1.5em;
  color: #F1F5F9;
  text-decoration: none;
  transition: color 0.25s, transform 0.5s ease-out;
}
header nav a:hover {
  color: #646cff;
  transform: translateX(25px);
}
header nav img {
  height: 30px;
  transition: transform 0.5s ease-out;
}
header nav img:hover {
  transform: translateX(-25px);
}

main {
  padding: 8px 16px 8px 16px;
  display: flex;
  height: 80vh;
  box-sizing: border-box;
  overflow: scroll;
  scrollbar-width: none;
}
main .logo-container {
  position: absolute;
  bottom: 60px;
}
main .logo-container a {
  display: flex;
  align-items: center;
  color: #F1F5F9;
  text-decoration: none;
  border-radius: 50%;
  transition: color 0.25s, transform 0.5s ease-out, background-color 0.5s ease;
}
main .logo-container a img {
  height: 30px;
  margin-right: 8px;
  margin: 10px;
}
main .logo-container a:hover {
  transform: translateX(25px);
  background-color: #646cff;
}
main .navigation-container {
  height: auto;
  width: 100%;
  align-content: center;
}
main .navigation-container ul {
  text-align: center;
  list-style: none;
}
main .navigation-container ul p {
  font-family: "Kanit";
  font-size: 45px;
  color: #F1F5F9;
  text-decoration: none;
  transition: color 0.5s ease-out, font-size 0.25s ease-out, font-family 0.25s ease-out;
}
main .navigation-container ul p:hover {
  color: #646cff;
  font-size: 65px;
  font-family: "Russo One";
}
main .landing-container {
  position: absolute;
  right: 75px;
  bottom: 45px;
  text-align: right;
}
main .landing-container .first-name {
  font-size: 48px;
}
main .landing-container .middle-last {
  font-size: 36px;
}
main .landing-container span {
  display: inline-block;
}
main .landing-container h1, main .landing-container h2, main .landing-container h3, main .landing-container a {
  color: #F1F5F9;
  transition: color 0.25s ease, transform 0.5s ease-out;
}
main .landing-container h1:hover, main .landing-container h2:hover, main .landing-container h3:hover, main .landing-container a:hover {
  color: #646cff;
  transform: translateX(-45px);
}
main .landing-container h1:hover a, main .landing-container h2:hover a, main .landing-container h3:hover a, main .landing-container a:hover a {
  text-shadow: 3px 3px 12px #646cff;
  color: #F1F5F9;
}
main .landing-container h1 {
  font-family: "Russo One";
}
main .landing-container .design-credit {
  color: #F1F5F9;
  font-family: "Roboto";
}
main .landing-container .design-credit a {
  color: #646cff;
  text-decoration: none;
}
main .landing-container .design-credit a:active {
  color: #F1F5F9;
}
main .landing-container hr {
  position: absolute;
  right: 5px;
  width: 35vh;
}
main .profile-container {
  padding: 0 100px;
}
main .profile-container section p {
  text-align: justify;
}
main .profile-container section h2, main .profile-container section h3, main .profile-container section p, main .profile-container section li, main .profile-container section p {
  color: #F1F5F9;
  transition: color 0.5s ease-out, font-size 0.5s ease-out, font-family 0.5s ease-out, transform 0.5s ease-out;
}
main .profile-container section h2:hover, main .profile-container section h3:hover, main .profile-container section p:hover, main .profile-container section li:hover, main .profile-container section p:hover {
  color: #646cff;
  font-family: "Russo One";
  transform: translateX(25px);
}
main .profile-container p {
  color: #F1F5F9;
  transition: color 0.5s ease-out, font-size 0.5s ease-out, font-family 0.5s ease-out, transform 0.5s ease-out;
}
main .profile-container p:hover {
  color: #646cff;
  font-family: "Russo One";
  transform: translateX(25px);
}/*# sourceMappingURL=styles.css.map */